.errorModal {
  z-index: 10;
  background-color: #000d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorModal .card {
  z-index: 100;
  max-width: 40rem;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.errorModal .header {
  background-color: blueviolet;
  border-radius: 1rem 1rem 0 0;
  padding: 0 1rem;
  color: white;
}

.errorModal .message {
  padding: 0 1rem 1rem 1rem;
}

.errorModal .actions {
  text-align: end;
}
