.userForm {
  display: flex;
  flex-direction: column;
}

.userForm label {
  margin: 0.2rem 0;
  font-weight: bold;
}

.userForm input {
  margin: 0.2rem 0;
}

.userForm .button {
  padding: 0.3rem 1rem;
}